<!DOCTYPE html>
<html>
  <head>
    <title>Helper Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/styles.css' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron bg-info">
        <h1 class="text-center">Help Kids Code!</h1>
      </div>
      <div class="row">
      <%= yield %>
      </div>
      <br>
    </div>
  </body>
</html>
